.gallery.block {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.gallery .gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gallery .gallery-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (width <= 768px) {
  .gallery .gallery-container {
    flex-wrap: wrap;
  }

  .gallery .gallery-item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}