.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > .columns-img-col {
  width: 60%;
}

.columns > div > div:not(.columns-img-col) {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns > div > div:not(.columns-img-col) p {
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.columns > div > div:not(.columns-img-col) a {
  font-weight: 900;
}

.columns > div > div:not(.columns-img-col) h1,
.columns > div > div:not(.columns-img-col) h2,
.columns > div > div:not(.columns-img-col) h3,
.columns > div > div:not(.columns-img-col) h4,
.columns > div > div:not(.columns-img-col) h5,
.columns > div > div:not(.columns-img-col) h6 {
  text-align: left;
  line-height: 56px;
  font-weight: 300;
  line-height: normal;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }
}

@media (width < 900px) {
  .columns > div > .columns-img-col {
    width: 100%;
  }
  .columns > div > div:not(.columns-img-col) {
    width: 100%;
  }
  .columns > div > div {
    margin: 0.5rem 0;
  }
}