/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid var(--dark-color);
}

@media (width <= 1280px) {
  header .nav-wrapper {
    position: fixed;
  }
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1600px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

@media (width <= 1280px) {
  header nav {
    grid-template:
    'hamburger brand tools' var(--mobile-nav-height)
    'sections sections sections' 1fr / auto 1fr auto;  align-items: center;
    height: var(--mobile-nav-height);
  }
}

@media (width <= 768px) {
  header nav {
    gap: 0;
  }
}

header nav[aria-expanded="true"] {
  /* grid-template:
    'hamburger brand' var(--mobile-nav-height)
    'sections sections' 1fr; */
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 20px;
  }
}

@media (width >= 1280px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
  width: 100%;
}

@media (width <= 1280px) {
  header nav p {
    width: auto;
  }
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 1.5px;
  border-radius: 1px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 1.5px 1px;
  width: 24px;
  height: 1.5px;
  border-radius: 1px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 1280px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

header nav br {
  display: none;
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  width: 100%;
}

header .nav-brand .default-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

header .nav-brand .default-content-wrapper > p:nth-child(2) {
  text-align: center;
}

header nav .nav-brand picture img {
  max-width: 475px;
  width: 100%;
  height: auto;
}

@media (width <= 768px) {
  header nav .nav-brand picture img {
    max-width: 200px;
  }
}

header nav .nav-brand img {
  width: 18px;
  height: auto;
}

header nav .nav-brand ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}


@media (width <= 1280px) {
  header nav .nav-brand ul {
    width: unset;
  }
  
  header nav .nav-brand .default-content-wrapper p:has(span.icon-search) {
    visibility: hidden;
  }
}

header nav .nav-brand ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--body-font-size-xxs);
  line-height: 1.2rem;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 0 10px;
  border-right: 1px solid var(--border-color);
  gap: 5px;
}

header nav .nav-brand ul li:hover {
  cursor: pointer;
}

header nav .nav-brand ul li:last-of-type {
  border-right: none;
}

@media (width <= 1280px) {
  header nav .nav-brand ul li:not(:has(span.icon-shopping-bag)) {
    display: none;
  }

  header nav .nav-brand ul li {
    border-right: none;
    gap: 0;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
  line-height: 1;
}

header nav .nav-sections ul > li > ul > li > a {
  font-size: var(--body-font-size-xxs);
  font-weight: 400;
  letter-spacing: .46px;
  line-height: 2.4rem;
  text-transform: uppercase;
}

header nav .nav-sections ul > li > ul > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul li:last-child img {
  display: none;
}

@media (width >= 1280px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
  }

  header nav .nav-sections .nav-drop:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    padding: 1.2rem 0;
  }
  
  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }
  
  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: fixed;
    top: var(--nav-height);
    left: 0;
    width: 100vw;
    padding: 2rem 10rem;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    white-space: initial;
    z-index: 2;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul li:last-child:has(img) {
    position: absolute;
    top: 0;
    right: 100px;
    width: calc(100vw - 200px);
    margin: 0;
    padding: 2rem;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul li:last-child img {
    width: 800px;
    height: auto;
    display: block;
  }

}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

@media (width <= 1280px) {
  header {
    height: var(--mobile-nav-height);
  }
}