main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 710px;
  display: flex;
  align-items: center;
}

.hero > div {
  width: 100%;
}

.hero h1 {
  max-width: 1200px;
  margin: 0;
  font-size: 57px;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: start;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  display: none;
}

.hero  br {
  display: none;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .hero-desc-wrapper {
  padding: 30px 30px 30px 0;
  max-width: 30%;
}

.hero .hero-desc-wrapper p {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: var(--body-font-size-s);
  line-height: 24px;
}

.hero .hero-desc-wrapper .button-container {
  margin-bottom: 0;
  margin-top: 0;
}

@media (width <= 768px) {
 .hero picture.hero-mobile {
  display: block;
 }

 .hero {
  min-height: unset;
  padding: 0;
  min-height: unset;
 }

 .hero picture {
    position: unset;
  }

  .hero .hero-desc-wrapper {
    padding: 0 15px;
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .hero .hero-desc-wrapper p {
    margin-bottom: 1.5rem;
  }

  .hero .hero-desc-wrapper h1 {
    font-size: 42px;
  }
}

@media (width >= 768px) {
  .hero picture.hero-desktop {
   display: block;
  }
}