footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer br {
  display: none;
}

footer .footer .section {
  border-top: 1px solid var(--divider-border-color);
  max-width: 100%;
  padding: 3rem;
}

@media (width < 1280px) {
  footer .footer .section {
    padding: 3rem 15px 0;
  }
}

footer .footer-section .default-content-wrapper {
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (width < 1280px) {
  footer .footer-section .default-content-wrapper {
    flex-direction: column;
    padding: 0;
  }
}

.footer .footer-section:first-of-type .default-content-wrapper .column {
  max-width: 520px;
}

.footer .footer-section:first-of-type .column p:first-of-type {
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0;
}

.footer .footer-section:first-of-type .column p:nth-child(2) {
  padding-top: 10px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  letter-spacing: .6px;
  color: #717171;
}

.footer .footer-section:first-of-type .column img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 2rem;
}

.footer .default-content-wrapper .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.75rem;
}


@media (width < 1280px) {
  .footer .default-content-wrapper .list {
    flex-direction: column;
    margin-top: 1rem;
  }
}

.footer .default-content-wrapper .list ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.footer .default-content-wrapper .list > ul {
  margin: 0 2rem;
}

@media (width < 1280px) {
  .footer .default-content-wrapper .list > ul {
    margin: 0;
  }

  .footer .default-content-wrapper .list > ul > li > ul {
    padding-left: 1rem;
  }

  .footer .default-content-wrapper .list > ul > li {
    border-top: 1px solid var(--divider-border-color);
    padding-top: 1rem;
  }
}

.footer .default-content-wrapper .list ul li {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-transform: uppercase;
}

.footer .default-content-wrapper .list ul li ul li {
  white-space: nowrap;
  color: #717171;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footer .default-content-wrapper .list ul li a {
  color: inherit;
  text-decoration: none;
}

footer .footer .footer-section:last-of-type {
  padding: 1.5rem 0 3.5rem;
}

@media (width < 1280px) {
  footer .footer .footer-section:last-of-type {
    padding: 1.5rem 15px 3.5rem;
  }
}

footer .footer-section:last-of-type .default-content-wrapper {
  max-width: 100%;
  justify-content: flex-start;
}

footer .footer-section:last-of-type .default-content-wrapper p {
  font-size: 14px;
  color: #717171;
  margin-right: 3rem;
}

footer .footer-section:last-of-type .default-content-wrapper p:first-of-type img {
  width: 270px;
  height: auto;
}

footer .footer-section:last-of-type .default-content-wrapper p:last-of-type {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0;
}

@media (width < 1280px) {
  footer .footer-section:last-of-type .default-content-wrapper p:last-of-type {
    margin-left: 0;
    margin-top: 1rem;
  }
}

footer .footer-section:last-of-type .default-content-wrapper p:last-of-type span {
  margin: 0 0.5rem;
}

@media (width < 1280px) {
  footer .footer-section .default-content-wrapper {
    flex-direction: column;
  }
}